:host {
  font-size: 23px;
  font-weight: bold;
}

.navbar {
  background-color: transparent;
  backdrop-filter: blur(3px);
  margin-bottom: 1px #8e24aa;
  position: sticky;
  top: 0;
  z-index: 999;
}

#my-logo {
  width: 200px;
  border-radius: 10%;
}

nav {
  height: 5rem;
}

@media screen and (max-width: 991px) {
  .navbar-collapse {
    z-index: 1001;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 992px) {
}

.nav-link.active {
  color: #77d2d2;
}

.nav-link {
  color: white;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    padding-bottom 0.1s ease-in-out;
}

.nav-link:hover {
  color: #77d2d2;
  padding-bottom: 15px;
  border-bottom: 2px solid #77d2d2;
}

.logout:hover {
  color: rgba(255, 60, 60, 0.644);
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(255, 60, 60, 0.644);
}
