<div class="container pt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card p-3 py-4" *ngIf="user?.role === 'VISITOR'">
        <div class="text-center">
          <img
            src="{{ user?.userInfo?.avatar }}"
            width="100"
            class="rounded-circle"
          />
        </div>

        <div class="text-center mt-3">
          <span class="role p-1 px-4 rounded text-white">{{ user?.role }}</span>
          <h2 class="mt-2">Username: {{ user?.username }}</h2>
          <h2 class="mt-2">Email: {{ user?.email }}</h2>

          <div class="px-4 mt-1">
            <p class="fonts">
              Benvenuto su Portfol.io! Hai completato la registrazione come
              visitatore, avendo fornito le tue credenziali di accesso. Vorremmo
              informarti che hai la possibilità di migliorare ulteriormente la
              tua esperienza diventando un 'Utente' del nostro sito. Per
              ottenere il ruolo di 'Utente' e accedere a funzionalità avanzate,
              ti invitiamo ad aggiornare il tuo profilo con informazioni
              aggiuntive, come il tuo nome e cognome. Una volta che avrai
              completato questa semplice operazione, potrai godere di tutti i
              vantaggi offerti ai nostri utenti, tra cui la possibilità di
              arricchire il tuo profilo con una descrizione personale, inserire
              dettagli sul tuo percorso educativo e condividere i tuoi progetti
              nel portfolio. Grazie per essere parte della nostra community e
              per il tuo impegno nel rendere la tua esperienza su Portfol.io
              ancora più soddisfacente e coinvolgente!
            </p>
          </div>

          <ul class="social-list">
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-dribbble"></i></li>
            <li><i class="fa fa-instagram"></i></li>
            <li><i class="fa fa-linkedin"></i></li>
            <li><i class="fa fa-google"></i></li>
          </ul>

          <div class="d-flex justify-content-evenly">
            <button
              class="btn btn-outline-success px-4 buttons"
              (click)="PopupPostUserInfo()"
            >
              Aggiorna info
            </button>
            <button class="btn btn-outline-success px-4 buttons">
              Contact
            </button>
          </div>
        </div>
      </div>
      <div class="card p-3 py-4" *ngIf="user?.role === 'USER'">
        <div class="text-center">
          <img
            src="{{ user?.userInfo?.avatar }}"
            width="100"
            class="rounded-circle"
          />
        </div>

        <div class="text-center mt-3">
          <span class="role p-1 px-4 rounded text-white">{{ user?.role }}</span>
          <div class="d-flex justify-content-between flex-wrap mt-4 mx-4">
            <div class="d-flex justify-content-between flex-wrap mx-4 mb-4">
              <span>{{ user?.userInfo?.name }}</span>

              <span class="ms-3">{{ user?.userInfo?.surname }}</span>
            </div>
            <div class="mx-4">
              <ul
                class="social-list d-flex flex-column align-items-start"
                *ngIf="
                  user?.userInfo?.instagram ||
                  user?.userInfo?.linkedin ||
                  user?.userInfo?.github ||
                  user?.userInfo?.instagram
                "
              >
                <p class="h3">Links</p>
                <li *ngIf="user?.email">
                  <i class="bi bi-envelope-at-fill"></i>
                  <a
                    class="mail"
                    (click)="copyText()"
                    tabindex="0"
                    data-toggle="tooltip"
                    title="Click to copy email"
                    >{{ user?.email }}</a
                  >
                </li>

                <li *ngIf="user?.userInfo?.github">
                  <i class="bi bi-instagram"></i
                  ><a href="{{ user?.userInfo?.github }}" target="_blank">{{
                    user?.userInfo?.github
                  }}</a>
                </li>
                <li *ngIf="user?.userInfo?.linkedin">
                  <i class="bi bi-linkedin"></i
                  ><a href="{{ user?.userInfo?.linkedin }}" target="_blank">{{
                    user?.userInfo?.linkedin
                  }}</a>
                </li>
                <li *ngIf="user?.userInfo?.instagram">
                  <i class="bi bi-instagram"></i
                  ><a href="{{ user?.userInfo?.instagram }}" target="_blank">{{
                    user?.userInfo?.instagram
                  }}</a>
                </li>
              </ul>
            </div>
          </div>
          <h2 class="">{{ user?.userInfo?.descriptionTitle }}</h2>

          <div class="px-4 mt-3">
            <p class="fonts">
              {{ user?.userInfo?.descriptionBody }}
            </p>
          </div>

          <div class="d-flex justify-content-evenly">
            <button
              class="btn btn-outline-success px-4 buttons"
              (click)="PopupPostUserInfo()"
            >
              Aggiorna info
            </button>
            <button class="btn btn-outline-success px-4 buttons">
              Contact
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
