<div class="container pt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card p-3 py-4" *ngIf="user?.role === 'VISITOR'">
        <div class="text-center">
          <img
            src="{{ user?.userInfo?.avatar }}"
            width="100"
            class="rounded-circle"
          />
        </div>

        <div class="text-center mt-3">
          <span class="role p-1 px-4 rounded text-white">{{ user?.role }}</span>
          <h2 class="mt-2">Username: {{ user?.username }}</h2>
          <h2 class="mt-2">Email: {{ user?.email }}</h2>

          <div class="px-4 mt-1">
            <p class="fonts">
              Benvenuto su Portfol.io! Hai completato la registrazione come
              visitatore, avendo fornito le tue credenziali di accesso. Vorremmo
              informarti che hai la possibilità di migliorare ulteriormente la
              tua esperienza diventando un 'Utente' del nostro sito. Per
              ottenere il ruolo di 'Utente' e accedere a funzionalità avanzate,
              ti invitiamo ad aggiornare il tuo profilo con informazioni
              aggiuntive, come il tuo nome e cognome. Una volta che avrai
              completato questa semplice operazione, potrai godere di tutti i
              vantaggi offerti ai nostri utenti, tra cui la possibilità di
              arricchire il tuo profilo con una descrizione personale, inserire
              dettagli sul tuo percorso educativo e condividere i tuoi progetti
              nel portfolio. Grazie per essere parte della nostra community e
              per il tuo impegno nel rendere la tua esperienza su Portfol.io
              ancora più soddisfacente e coinvolgente!
            </p>
          </div>

          <ul class="social-list">
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-dribbble"></i></li>
            <li><i class="fa fa-instagram"></i></li>
            <li><i class="fa fa-linkedin"></i></li>
            <li><i class="fa fa-google"></i></li>
          </ul>

          <div class="d-flex justify-content-evenly">
            <button
              class="btn btn-outline-success px-4 buttons"
              (click)="popupPostUserInfo()"
            >
              Aggiorna info
            </button>
            <button class="btn btn-outline-success px-4 buttons">
              Contact
            </button>
          </div>
        </div>
      </div>
      <div class="card p-3 py-4" *ngIf="user?.role === 'USER'">
        <div class="text-center mt-3">
          <div class="row d-flex justify-content-between flex-wrap mt-4 mx-4">
            <div
              class="col-12 col-sm-6 justify-content-between flex-wrap px-4 mb-4"
            >
              <div class="text-center">
                <img
                  src="{{ user?.userInfo?.avatar }}"
                  width="100"
                  class="rounded-circle"
                />
              </div>
              <span class="role p-1 px-4 rounded text-white">{{
                user?.role
              }}</span>
              <div class="mt-4 row">
                <p class="p-0 h3 text-center">
                  {{ user?.userInfo?.name }} {{ user?.userInfo?.surname }}
                </p>

                <!-- <p class="col-12 col-md-6 p-0"></p> -->
              </div>
            </div>
            <div class="px-4 col-12 col-sm-6">
              <ul
                class="social-list d-flex flex-column align-items-start"
                *ngIf="
                  user?.userInfo?.instagram ||
                  user?.userInfo?.linkedin ||
                  user?.userInfo?.github ||
                  user?.userInfo?.instagram
                "
              >
                <p class="h3">Links</p>
                <li *ngIf="user?.email">
                  <i class="bi bi-envelope-at-fill"></i>
                  <a
                    class="mail"
                    (click)="copyText()"
                    tabindex="0"
                    data-toggle="tooltip"
                    title="Click to copy email"
                    >{{ user?.email }}</a
                  >
                </li>

                <li *ngIf="user?.userInfo?.github">
                  <i class="bi bi-github"></i
                  ><a href="{{ user?.userInfo?.github }}" target="_blank">{{
                    user?.userInfo?.github
                  }}</a>
                </li>
                <li *ngIf="user?.userInfo?.linkedin">
                  <i class="bi bi-linkedin"></i
                  ><a href="{{ user?.userInfo?.linkedin }}" target="_blank">{{
                    user?.userInfo?.linkedin
                  }}</a>
                </li>
                <li *ngIf="user?.userInfo?.instagram">
                  <i class="bi bi-instagram"></i
                  ><a href="{{ user?.userInfo?.instagram }}" target="_blank">{{
                    user?.userInfo?.instagram
                  }}</a>
                </li>
              </ul>
            </div>
          </div>
          <h2 class="">{{ user?.userInfo?.descriptionTitle }}</h2>

          <div class="px-4 mt-3">
            <div class="description" [ngClass]="{ 'show-more': showMore }">
              <p class="fonts">{{ user?.userInfo?.descriptionBody }}</p>
            </div>
            <button class="show-more-button" (click)="toggleShowMore()">
              {{ showMore ? "Mostra meno" : "Mostra altro" }}
            </button>
          </div>

          <div class="d-flex justify-content-evenly">
            <button
              class="btn btn-outline-success px-4 buttons"
              (click)="popupPostUserInfo()"
            >
              Aggiorna info
            </button>

            <button
              class="btn btn-outline-success px-4 buttons"
              [routerLink]="['/uploadPost']"
              routerLinkActive="active"
            >
              Crea Progetto
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="projects">
    <p class="text-center text-white h1 mt-5">Projects</p>
    <div *ngFor="let post of userPosts" class="d-flex justify-content-center">
      <div class="col-12 mb-5 w-75 post-card">
        <div
          class="img-container w-100 d-flex justify-content-between p-3"
          [style.background-image]="'url(' + post.mainImg + ')'"
        >
          <h1 class="text-light fs-2 fw-bold mt-auto title ms-4">
            {{ post.title }}
          </h1>
          <p class="text-light fw-bold title mt-auto ms-4">
            {{ post.publicationDate }}
          </p>
        </div>
        <div class="d-flex justify-content-between">
          <button
            class="btn btn-outline-success px-4 buttons"
            (click)="checkPost(post.id)"
          >
            Visualizza <i class="bi bi-search"></i>
          </button>
          <button
            class="btn btn-outline-success px-4 buttons w-25"
            (click)="deletePostById(post.id)"
          >
            Cancella <i class="bi bi-trash3"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
